<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.facilitionapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".admin_dashboard"
            android:label="@string/title_activity_admin_dashboard"
            ></activity>
        <activity
            android:name=".signup_student"
            android:label="@string/title_activity_signup_student">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".confirmation_code"
            android:label="@string/title_activity_confirmation_code" />
        <activity
            android:name=".faqs"
            android:label="Policies &amp; Rules" />
        <activity
            android:name=".news_events"
            android:label="@string/title_activity_news_events" />
        <activity
            android:name=".notification"
            android:label="Notification">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".complain_status"
            android:label="@string/title_activity_complain_status">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainhome_student"
            android:label="@string/title_activity_mainhome_student" />
        <activity
            android:name=".complaint"
            android:label="@string/title_activity_complaint">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".suggestion"
            android:label="@string/title_activity_suggestion" />
        <activity
            android:name=".forgotpass"
            android:label="@string/title_activity_forgotpass" />
        <activity
            android:name=".change_password"
            android:label="@string/title_activity_change_password" />
        <activity
            android:name=".student_home"
            android:label="@string/title_activity_student_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".welcome"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".introactivity1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>